/* Style the footer */

.main {
    height: 500vh;
    padding-top: 20px;
}

.footer {
    background-color: blue;
    color: white;
    height: 50px;
}

.row-name {
    position: absolute;
    margin-left: 500px;
    margin-top: 15px;
}