body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    /* background-image: linear-gradient(0,#00FF7F,#00FA9A,#FFDAB9); */
    /* background-color: rgba(0, 255, 130); */
    background-color: #2c5095;
    position: fixed;
    top: 0;
    width: 100%;
    height: 63px;
    display: flex;
    transition: top 0.3s;
    justify-content: space-between;
}

.home-flex {
    display: flex;
    padding-left: 0;
}

.navbar-name-item {
    font-size: 15px;
    height: 30%;
    margin: 0;
    padding-top: 20px;
}

.home {
    padding-left: 5px;
    height: 60%;
}

.navbar-name-item {
    position: relative;
}

.navbar-name-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #3cefff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.8s ease;
}

.navbar-name-item:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.hover-before {
    padding-left: 50px;
}

.hover-account {
    padding-left: 0;
}

.navbar-name {
    display: flex;
}

.navbar-name-icon {
    font-size: 16px;
    color: white;
    padding-top: 22px;
    cursor: pointer;
    padding-left: 9px;
}

.navbar-name-search {
    padding-left: 60px;
}

.item-calling {
    font-size: 15px;
    height: 30%;
    margin: 0;
    padding-top: 20px;
    color: white;
    padding-left: 2px;
    padding-bottom: 20px;
}

.item-calling:hover {
    color: #FF1493;
    cursor: pointer;
}

.calling {
    padding-left: 38px;
    display: flex;
}

.navbar-name-item {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar-name-item:hover {
    color: #FF1493;
}

.formfinal {
    padding-right: 30px;
}

.container-item {
    width: 300px;
    position: relative;
}

.search-item {
    height: 30px;
    font-size: 15px;
    margin-top: 7px;
    width: 300px;
}

.separate-conect {
    position: relative;
    padding-right: 38px;
}

.icon-conect--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FF1493;
    ;
    height: 14px;
    right: -32px;
    top: 27.5px;
    transform: translateY(-50%);
}

.icon-facebook {
    padding-left: 0px;
}

.icon-instagram {
    color: #FF1493;
    padding-left: 0px;
}

.icon-help {
    color: #FF1493;
}

.icon-search {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #2c5095;
}

.item-login {
    padding-left: 5px;
}

.help-contairner {
    display: flex;
    padding-right: 30px;
}


/*   CATAGORY   CSSS */

.navbar-name-catagory {
    padding-right: 5px;
    padding-left: 38px;
}

.myLinks-contairner {
    display: inline-block;
    position: relative;
}

.myLinks {
    display: none;
    position: absolute;
    z-index: 1;
}

.myLinks-contairner:hover .myLinks {
    display: block;
}

.myLinks-item {
    background-color: white;
    justify-content: center;
    text-decoration: none;
}

.myLinks-item:hover {
    background-color: turquoise;
}

.active-catagory {
    font-size: 12px;
    color: white
}

.active-catagory:hover {
    color: #FF1493;
}

.navbar-name-listt {
    cursor: pointer;
    font-size: 13px;
    color: darksalmon;
    display: block;
    width: 120px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
    padding-left: 8px;
}